Packages
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
.swiftpm
.env
.env.*
!.env.example
.vscode

.build/
.vscode/
.DS_Store
.env.*
.swiftpm/
ansible/templates/database*
ansible/templates/password
ansible/templates/username
ansible/templates/sendgrid
*.profraw
coverage.info
coverage/*
docs/*
!docs/.keep
